* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #6741d9 0%, #9775fa 100%);
  text-align: center;
}

main {
  max-width: 1400px;
  margin: 32px auto;
}

.app-title {
  margin: 48px 0;
  font-size: 64px;
  color: rgba(0, 0, 0, 0.651);
}

.dropdown {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 12px;
  appearance: none;
  cursor: pointer;
}

/* Hide Arrow icon in IE browsers */
.dropdown::-ms-expand {
  display: none;
}

.dropdown:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 560px) {
  .dropdown {
    top: 16px;
    right: 16px;
  }
}
